 <div style="min-height: 0px">
        <article style="padding: 64px 0px;" class="gh-card-wrapper">
            <a href="{{url}}">
                    <h3 class="gh-card-title">{{title}}</h3>
                    <p style="font-weight:700; padding-bottom:10px; padding-top:5px;">{{tags from="2" to="3" autolink="false"}}</p>
                    <p style="max-width: 900px" class="gh-card-excerpt">{{excerpt}}</p>
            </a>
        </article>
</div>