<!-- Normal Feed -->
<main class=".gh-main .gh-outer">
    <div class="gh-feed gh-inner">
        <article class="gh-card post">
            <a class=".has-classic-feed .gh-card-link" href="XXX"
                <figure class=".has-classic-feed .gh-card-image">
                    <img srcset="/content/images/size/w300/2024/06/DSC00726.jpeg 300w,
                                /content/images/size/w720/2024/06/DSC00726.jpeg 720w,
                                /content/images/size/w960/2024/06/DSC00726.jpeg 960w,
                                /content/images/size/w1200/2024/06/DSC00726.jpeg 1200w,
                                /content/images/size/w2000/2024/06/DSC00726.jpeg 2000w" sizes="(max-width: 1200px) 100vw, 1200px" src="/content/images/size/w720/2024/06/DSC00726.jpeg" alt="YET AGAIN, TESTING">
                </figure>
        </article>
    </div>
</main>