{{!< default}}
<main class="gh-main gh-outer">
    {{#tag}}
        <section class="gh-article gh-inner">
            <header class="gh-article-header">
                <h1 class="gh-article-title">{{name}}</h1>
                {{#if description}}
                    <p class="gh-article-excerpt">{{description}}</p>
                {{/if}}
                {{> "feature-image"}}
            </header>
        </section>
    {{/tag}}
    <div class="gh-feed{{#match @custom.header_section_layout "!=" "Large background"}} gh-inner{{/match}}">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    <div class ="gh-inner dmc-page-spec" style="margin-top:80px;">
        <h2 class="gh-article-title">Looking for More?</h2>
        <p class="gh-article-excerpt" style="margin-top: 5px;">Check out the full Film and Video archive below:</p>
        <span class="gh-btn gh-primary-btn" style="margin-top: 20px;"><a href="/film-and-video-archive/">Enter the Archive</a></span>
    </div>
</main>
